<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zacharee1.boredsigns">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConfigActivity" />
        <activity android:name=".proxies.InfoProxy">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PermissionsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Null"/>

        <receiver
            android:name=".widgets.InfoWidget"
            android:label="@string/info_widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.zacharee1.boredsigns.action.UPDATE_INFO" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_widget_info" />
            <meta-data
                android:name="com.lge.signboard.widget.description"
                android:value="info_widget_title" />
        </receiver>

        <service
            android:name=".services.InfoService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>